{% extends 'base.html.twig' %}

{% block title %}Mixer Stats{% endblock %}

{% block body %}
<div class="container">
    <div id="container"></div>
    <table id="datatable">
        <thead>
        <tr>
            <th></th>
            <th>Channel 1</th>
            <th>Channel 2</th>
            <th>Channel 3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>01:00</th>
            <td>5</td>
            <td>30</td>
            <td>12</td>
        </tr>
        <tr>
            <th>02:00</th>
            <td>1</td>
            <td>9</td>
            <td>5</td>
        </tr>
        <tr>
            <th>03:00</th>
            <td>0</td>
            <td>5</td>
            <td>1</td>
        </tr>
        <tr>
            <th>04:00</th>
            <td>40</td>
            <td>10</td>
            <td>11</td>
        </tr>
        <tr>
            <th>05:00</th>
            <td>3</td>
            <td>5</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
